<ion-header id="widget_header">
  <ion-navbar color="lighter" hideBackButton="true" text-center>
    <ion-buttons left>
      <a href="#">
        <img src="assets/img/logo-apiapp-mini.svg"/>
      </a>
    </ion-buttons>
    <ion-buttons right>
      <a href="#">
        <img src="assets/img/logo-apidae.svg"/>
      </a>
    </ion-buttons>
    <ion-title *ngIf="root">{{root.label}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="list_content">
  <div id="list_wrapper">
    <div id="loading_spinner" *ngIf="!inclusions" text-center margin-top>
      <ion-spinner name="dots"></ion-spinner><br/><span>Chargement en cours</span>
    </div>
    <ion-list id="scroll_nodes" *ngIf="inclusions">
      <ion-item *ngFor="let seed of inclusions" (click)="displayDetails(seed)" text-wrap detail-push>
        <ion-avatar item-left class="bg_seed {{seed.category}}">
          <img *ngIf="seed.picture()" src="{{seed.pictureData()}}"/>
          <div *ngIf="!seed.picture()" text-center><i class="ion-md-custom-{{seed.category}}"></i></div>
        </ion-avatar>
        <h2>{{seed.label}}</h2>
        <p text-nowrap>{{seed.description}}</p>
      </ion-item>
      <ion-item *ngIf="inclusions.length == 0">
        <p>Aucune information disponible.</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
