<ion-header>
  <ion-navbar color="danger">
    <ion-buttons left>
      <button ion-button (click)="homeNode()">
        <ion-img id="header_logo" src="assets/img/logo_white.png" srcset="assets/img/logo_white.png 2x"></ion-img>
      </button>
    </ion-buttons>
    <ion-toolbar color="danger" mode="md" no-border>
      <ion-searchbar (ionInput)="filterNodes($event)" (ionFocus)="loadResults()" placeholder="Rechercher" debounce="500"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
  <ion-toolbar class="toolbar_header" *ngIf="showSearch && nodes">
    <ion-buttons left>
      <button ion-button (click)="clearResults()" class="close_toolbar">
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <div>{{nodes.length}} résultat{{nodes.length != 1 ? 's' : ''}}</div>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar_header" *ngIf="!showSearch" no-border-bottom>
    <ion-buttons left>
      <button *ngIf="explorerService.previousNode" ion-button (click)="navigateTo(explorerService.previousNode.id, false)" class="close_toolbar">
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <button ion-button text-wrap (click)="modalDetails(explorerService.rootNode.id)" color="{{categoryColor(explorerService.rootNode.category)}}" id="title_button">
        <ion-img *ngIf="explorerService.rootNode.picture" [src]="explorerService.rootNode.picture"></ion-img>
        <div *ngIf="!explorerService.rootNode.picture" class="font_avatar" text-center>{{explorerService.rootNode.code}}&nbsp;</div>
        <div>{{explorerService.rootNode.label}}</div>
      </button>
    </ion-title>
    <ion-buttons right>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="explorerService.rootNode.description && !showSearch" id="desc_header" no-border-top>
    <p text-center>{{explorerService.rootNode.description}}</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="list_wrapper" *ngIf="!showSearch">
    <div id="loading_spinner" *ngIf="!explorerService.networkData" text-center><ion-spinner name="dots"></ion-spinner><span light>Chargement en cours</span></div>
    <ion-list id="scroll_nodes" *ngIf="explorerService.networkData && explorerService.networkData.nodes">
      <div *ngFor="let node of explorerService.networkData.nodes" (click)="navigateTo(node.id, false)">
        <ion-item text-wrap *ngIf="!node.isRoot && !node.isPrevious">
          <ion-thumbnail item-left>
            <ion-img *ngIf="node.picture" [src]="node.picture"></ion-img>
            <div *ngIf="!node.picture" class="font_avatar {{node.category}}" text-center>{{node.code}}</div>
          </ion-thumbnail>
          <h2>{{node.label}}</h2>
          <p>{{node.description}}</p>
          <button ion-button large clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div class="loading_spinner" *ngIf="!nodes && showSearch" text-center><ion-spinner name="dots"></ion-spinner><span light>Chargement en cours</span></div>
  <ion-list *ngIf="showSearch" [virtualScroll]="nodes" [approxItemHeight]="'60px'">
    <ion-item *virtualItem="let node" text-wrap (click)="navigateTo(node.id, true)">
      <ion-thumbnail item-left>
        <ion-img *ngIf="node.picture" [src]="node.picture"></ion-img>
        <div *ngIf="!node.picture" class="font_avatar {{node.category}}" text-center>{{node.code}}</div>
      </ion-thumbnail>
      <h2>{{node.label}}</h2>
      <p>{{node.description}}</p>
      <button ion-button large clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
