<ion-header>
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navigateTo(null, true, false)">
        <img id="header_logo" src="assets/img/logo-apiapp-mini.svg"/>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <ion-searchbar (ionFocus)="displaySearch()" placeholder="Rechercher"></ion-searchbar>
    </ion-toolbar>
    <ion-buttons right *ngIf="dataService.userSeed">
      <button ion-button (click)="navigateTo(dataService.userSeed.id, true, false)">
        <img id="avatar_logo" *ngIf="dataService.userSeed.picture" src="{{dataService.userSeed.picture}}"/>
        <i id="avatar_icon" *ngIf="!dataService.userSeed.picture" class="ion-md-custom-person"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="lighter" class="toolbar_header" no-border-bottom>
    <ion-buttons left text-center>
      <button color="lighter" *ngIf="explorerService.previousNode()" ion-button text-center
              (click)="navigateTo(explorerService.previousNode(), false, false)" [class]="'close_toolbar bg_seed ' + explorerService.previousNodeEntity().category">
        <ion-icon *ngIf="explorerService.previousNodeEntity().scope == 'private'" name="lock" class="item_lock"></ion-icon>
        <div class="prev_label">{{explorerService.previousNodeEntity().shortLabel()}}</div>
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center *ngIf="explorerService.rootNode">
      <button ion-button clear (click)="displayDetails()" class="header_title">
        <ion-icon *ngIf="explorerService.rootNode.scope == 'private'" name="lock" class="item_lock"></ion-icon>
        <ion-avatar item-left class="bg_seed {{explorerService.rootNode.category}}">
          <img *ngIf="explorerService.rootNode.picture" src="{{explorerService.rootNode.picture}}"/>
          <div *ngIf="!explorerService.rootNode.picture" text-center><i class="ion-md-custom-{{explorerService.rootNode.category}}"></i></div>
        </ion-avatar>
        <div>
          <p text-left>{{explorerService.rootNode.label}}</p>
          <p text-left>{{explorerService.rootNode.description}}</p>
        </div>
      </button>
    </ion-title>
    <ion-buttons right></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="list_wrapper">
    <div id="loading_spinner" *ngIf="!explorerService.networkData" text-center>
      <ion-spinner name="dots"></ion-spinner><span light>Chargement en cours</span>
    </div>
    <ion-list id="scroll_nodes" *ngIf="explorerService.networkData && explorerService.networkData.nodes">
      <div *ngFor="let node of explorerService.networkData.nodes" (click)="navigateTo(node.id, false, false)">
        <ion-item text-wrap *ngIf="!node.isRoot && !node.isPrevious">
          <ion-icon *ngIf="node.scope == 'private'" name="lock" class="item_lock"></ion-icon>
          <ion-avatar item-left class="bg_seed {{node.category}}">
            <img *ngIf="node.picture" src="{{node.picture}}"/>
            <div *ngIf="!node.picture" text-center><i class="ion-md-custom-{{node.category}}"></i></div>
          </ion-avatar>
          <h2>{{node.label}}</h2>
          <p text-nowrap>{{node.description}}</p>
          <button ion-button large clear item-right color="link"><ion-icon name="arrow-forward"></ion-icon></button>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
