#list_wrapper ion-icon.item_lock {
  position: absolute;
  top: 5px;
  left: 39px;
  font-size: 14px;
}

ion-list ion-item.item-md ion-avatar {
  padding: 6px;
}

.item-md ion-avatar img {
  width: 44px;
  height: 44px;
}
