<ion-header>
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navigateTo(null, true, false)">
        <img id="header_logo" src="assets/img/logo-apiapp-mini.svg"/>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <div id="total_counter">{{explorerService.networkData ? explorerService.networkData.count : 0}}</div>
      <button id="top_search" ion-button color="lighter" block icon-left text-left (click)="displaySearch()">
        <ion-icon name="search" color="link"></ion-icon>Rechercher
      </button>
    </ion-toolbar>
    <ion-buttons right *ngIf="dataService.userSeed">
      <button ion-button (click)="navigateTo(dataService.userSeed.id, true, false)">
        <img id="avatar_logo" *ngIf="dataService.userSeed.picture" src="{{dataService.userSeed.picture}}"/>
        <i id="avatar_icon" *ngIf="!dataService.userSeed.picture" class="ion-md-custom-person"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="list_content">
  <ion-list ion-fixed>
    <ion-item id="title_details" text-center text-wrap>
      <button class="prev_link" color="text_alt" *ngIf="explorerService.previousNode()" ion-button large item-start text-center icon-only outline round
              (click)="navigateTo(explorerService.previousNode(), false, false)">
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
      <button ion-button large outline item-end icon-only color="link" (click)="displayDetails()" id="display_seed">
        <ion-icon name="eye" large></ion-icon>
      </button>
      <ion-icon *ngIf="explorerService.rootNode.scope == 'private'" name="lock" class="item_lock"></ion-icon>
      <ion-avatar class="bg_seed {{explorerService.rootNode.category}}">
        <img *ngIf="explorerService.rootNode.picture" src="{{explorerService.rootNode.picture}}"/>
        <div *ngIf="!explorerService.rootNode.picture" text-center><i class="ion-md-custom-{{explorerService.rootNode.category}}"></i></div>
      </ion-avatar>
      <div>
        <p text-left>{{explorerService.rootNode.label}}</p>
        <p text-left>{{explorerService.rootNode.description}}</p>
      </div>
    </ion-item>
  </ion-list>
  <div id="list_wrapper">
    <div id="loading_spinner" *ngIf="!explorerService.networkData" text-center>
      <ion-spinner name="dots"></ion-spinner><span light>Chargement en cours</span>
    </div>
    <ion-list id="scroll_nodes" *ngIf="explorerService.networkData && explorerService.networkData.nodes">
      <div *ngFor="let node of explorerService.networkData.nodes" (click)="navigateTo(node.id, false, false)">
        <ion-item text-wrap *ngIf="!node.isRoot && !node.isPrevious">
          <ion-icon *ngIf="node.scope == 'private'" name="lock" class="item_lock"></ion-icon>
          <ion-avatar item-left class="bg_seed {{node.category}}">
            <img *ngIf="node.picture" src="{{node.picture}}"/>
            <div *ngIf="!node.picture" text-center><i class="ion-md-custom-{{node.category}}"></i></div>
          </ion-avatar>
          <h2>{{node.label}}</h2>
          <p text-nowrap>{{node.description}}</p>
          <button ion-button large clear item-right color="link"><ion-icon name="arrow-forward"></ion-icon></button>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
