<ion-header>
  <ion-navbar danger>
    <ion-buttons left>
      <button>
        <ion-img id="header_logo" src="img/logo_white.png" srcset="img/logo_white.png 2x"></ion-img>
      </button>
    </ion-buttons>
    <ion-title text-center>
      ApiApp
    </ion-title>
    <ion-buttons right>
      <button id="header_search">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="loading_spinner" *ngIf="!explorerService.networkData" text-center><ion-spinner name="dots"></ion-spinner><span light>Chargement en cours</span></div>
  <!--<ion-searchbar (ionInput)="filterNodes($event)" [showCancelButton]="true" [cancelButtonText]="Annuler" placeholder="Rechercher"></ion-searchbar>-->
  <ion-list *ngIf="explorerService.networkData" [virtualScroll]="explorerService.networkData.nodes">
    <ion-item-sliding *virtualItem="let node">
      <ion-item>
        <h2>{{node.label}}</h2>
        <p>{{node.description}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
