#explorer > div.scroll-content {
  overflow-y: hidden;
}

graph, pack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
}

graph > *, pack > * {
  height: 100%;
}

#slides_wrapper {
  position: relative;
  height: 100%;
}

#graph_links {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.2em;
}

#graph_links .button-large-md {
  height: 2em;
  font-size: 2.4rem;
  margin: 0;
}

#graph_links .button-large-md:not(:first-child) {
  margin-left: -0.2em;
}

#graph_links .button-large-md:last-child {
  margin-top: -0.5em;
}

#graph_links .button-large-md ion-icon {
  padding: 0;
}

#wheel_wrapper {
  position: absolute;
  bottom: 0;
  z-index: 100;
  height: 120px;
  width: 100%;
}

#wheel_wrapper > div {
  position: relative;
  height: 100%;
}

#wheel_wrapper > div > img {
  position: absolute;
  bottom: 0;
  height: auto;
  z-index: 1;
}

#wheel_wrapper > div > img:first-child {
  width: 35%;
  max-width: 160px;
  left: 0;
}

#wheel_wrapper > div > img:nth-child(2) {
  width: 45%;
  max-width: 200px;
  right: 0;
}

#wheel_wrapper > div > apiwheel {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 2;
}

#view_slides ion-scroll ion-item-divider ion-avatar i {
  font-size: 42px;
}

#view_slides ion-scroll ion-item ion-avatar i {
  font-size: 36px;
}

#view_slides .slide-zoom,
#view_slides ion-scroll,
#view_slides ion-scroll .scroll-zoom-wrapper {
  height: 100%;
}

.scroll_view {
  padding-bottom: 100px;
}

ion-item-group[no-lines] .item .item-inner {
  border-width: 0;
}

#list_details > ion-item-divider ion-label.label-md {
  margin: 8px 0;
}

#inclusions {
  border-left: 16px solid;
  min-height: 100%;
}

#inclusions ion-item-divider {
  padding: 8px 0;
}

#list_details ion-item-divider {
  padding: 8px 0 8px 16px;
}

#inclusions.concept {
  border-left-color: map-get($colors, concept);
}

#inclusions.idea {
  border-left-color: map-get($colors, idea);
}

#inclusions.organization {
  border-left-color: map-get($colors, organization);
}

#inclusions.action {
  border-left-color: map-get($colors, action);
}

#inclusions.event {
  border-left-color: map-get($colors, event);
}

#inclusions.competence {
  border-left-color: map-get($colors, competence);
}

#inclusions.project {
  border-left-color: map-get($colors, project);
}

#inclusions.creativeWork {
  border-left-color: map-get($colors, creativeWork);
}

#inclusions.schema {
  border-left-color: map-get($colors, secondary);
}

#inclusions.person {
  border-left-color: map-get($colors, person);
}

#inclusions.product {
  border-left-color: map-get($colors, product);
}
