// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #86c7e8,
  secondary:  #bfce81,
  danger:     #d67c7d,
  light:      #ccc,
  dark:       #7e7665,
  favorite:   #6eb1c6,
  bulb:       #edc141,
  lighter:    #ffffff,

  // theme
  bg:         #eceded,
  text_main:  #282828,
  text_alt:   #666666,
  link:       #5db0c7,

  // seeds
  organization:   #9f3f3e,
  person:         #df7b7a,
  competence:     #f1d7d7,
  project:        #46392c,
  event:          #7e7764,
  action:         #ddd4cb,
  product:        #718c16,
  creativeWork:   #a4bd52,
  idea:           #d9e8a9,
  concept:        #ffffff
);

$text-color:        map-get($colors, text_main);
$background-color:  map-get($colors, bg);
$label-md-text-color: map-get($colors, text_alt);

// Custom tabs
$tabs-md-tab-text-color: map-get($colors, text_main);
$tabs-md-tab-text-color-active: map-get($colors, link);
$tabs-md-tab-icon-color: map-get($colors, text_alt);
$tabs-md-tab-icon-color-active: map-get($colors, link);
$tabs-md-tab-min-height: 6rem;
$tabs-md-tab-icon-size: 3rem;
$tabs-md-tab-font-size: 1.4rem;
$tabs-md-tab-font-size-active: 1.6rem;

// Custom search bar
$searchbar-md-input-search-icon-color: map-get($colors, link);
$searchbar-md-input-text-color: map-get($colors, text_alt);
$searchbar-md-input-clear-icon-color: map-get($colors, text_main);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
