<ion-header>
  <ion-navbar color="lighter">
    <ion-buttons left>
      <button ion-button (click)="navigateTo(null, true)">
        <img id="header_logo" src="assets/img/logo-apiapp-mini.svg"/>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <ion-searchbar (ionInput)="filterNodes($event)" (ionFocus)="loadResults()" [(ngModel)]="searchQuery" placeholder="Rechercher" debounce="800"></ion-searchbar>
    </ion-toolbar>
    <ion-buttons right *ngIf="dataService.userSeed">
      <button ion-button (click)="navigateTo(dataService.userSeed.id, true)">
        <img id="avatar_logo" *ngIf="dataService.userSeed.picture" src="{{dataService.userSeed.picture}}"/>
        <i id="avatar_icon" *ngIf="!dataService.userSeed.picture" class="ion-md-custom-person"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="lighter" class="toolbar_header" *ngIf="searchService.showSearch">
    <ion-buttons left text-center>
      <button ion-button color="link" (click)="clearResults()" class="close_toolbar">
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <div>{{searchService.nodes.length == 0 ? 'Aucun' : searchService.nodes.length}} résultat{{searchService.nodes.length > 1 ? 's' : ''}}</div>
    </ion-title>
    <ion-buttons right text-center>
      <button ion-button icon-only color="link" (click)="createSeed()" id="create_seed">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="graph_wrapper">
  <div *ngIf="!searchService.showSearch">
    <div class="loading_spinner" *ngIf="!explorerService.networkData" text-center>
      <ion-spinner name="dots"></ion-spinner>
      <span color="light">Chargement en cours</span>
    </div>
    <graph *ngIf="explorerService.networkData" [networkData]="explorerService.networkData" (showDetails)="displayDetails()"
           (rootChange)="rootNodeChange($event);"></graph>
    <div id="graph_bg">
      <img src="assets/img/flowers-left.png"/>
      <img src="assets/img/flowers-right.png"/>
    </div>
  </div>

  <div class="loading_spinner" *ngIf="searchService.showSearch && searchService.searching" text-center>
    <ion-spinner name="dots"></ion-spinner><span light>Chargement en cours</span>
  </div>
  <div class="loading_spinner" *ngIf="searchService.showSearch && !searchService.searching && searchService.nodes.length == 0" text-center>
    Veuillez saisir le(s) terme(s) recherché(s)
  </div>
  <ion-list *ngIf="searchService.showSearch && searchService.nodes.length > 0" id="search_results">
    <ion-item *ngFor="let node of searchService.nodes" text-wrap (click)="navigateTo(node.id, false)">
      <ion-avatar item-left class="bg_seed {{node.category}}">
        <img *ngIf="node.picture" src="{{node.picture}}"/>
        <div *ngIf="!node.picture" text-center><i class="ion-md-custom-{{node.category}}"></i></div>
      </ion-avatar>
      <h2>{{node.label}}</h2>
      <p text-nowrap>{{node.description}}</p>
      <ion-icon item-right color="link" name="arrow-forward" large></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
