<ion-header *ngIf="authService.userSeed">
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navigateTo(null, false)">
        <img id="header_logo" src="assets/img/logo-apiapp-mini.svg"/>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <div id="total_counter">{{explorerService.networkData ? explorerService.networkData.count : 0}}</div>
      <button id="top_search" ion-button color="lighter" block icon-left text-left (click)="displaySearch()">
        <ion-icon name="search" color="link"></ion-icon>Rechercher ou créer
      </button>
    </ion-toolbar>
    <ion-buttons right *ngIf="authService.userSeed">
      <button ion-button (click)="navigateTo(authService.userSeed.id, false)">
        <img id="avatar_logo" *ngIf="authService.userSeed.picture()" src="{{authService.userSeed.pictureData()}}"/>
        <i id="avatar_icon" *ngIf="!authService.userSeed.picture()" class="ion-md-custom-person"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="graph_wrapper">
  <button id="prev_node" class="prev_link" color="link" *ngIf="explorerService.previousNode()" ion-button text-center icon-only outline round
          (click)="navigateTo(explorerService.previousNode(), false, false)">
    <ion-icon name="arrow-back" large></ion-icon>
  </button>
  <graph (showDetails)="displayDetails()" (rootChange)="rootNodeChange($event);" [width]="graphWidth" [height]="graphHeight"></graph>
  <div id="graph_bg">
    <img src="assets/img/flowers-left.png"/>
    <img src="assets/img/flowers-right.png"/>
  </div>
</ion-content>
