#graph_wrapper div.scroll-content {
  overflow: hidden;
}

#graph_wrapper ion-fab[top] {
  top: 50%;
  margin-top: -150px;
}

#graph_wrapper ion-fab[middle] {
  top: 50%;
  margin-top: -90px;
}

#graph_wrapper ion-fab[bottom] {
  top: 50%;
  margin-top: -30px;
}

#graph_wrapper ion-fab[right] {
  right: 50%;
  margin-right: -110px;
}
