#apiapp ion-img img {
  min-height: inherit;
}

#header_logo {
  max-width: 50px;
}

#header_search > span {
  font-size: 16px;
  padding-left: 30px;
}

.loading_spinner {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dowrap {
  white-space: pre-line;
}

div.font_avatar {
  font-family: 'Ionicons';
  font-size: 48px;
  line-height: 80px;
  color: white;
}

div.font_avatar.concept {
  color: map-get($colors, dark);
}

div.font_avatar.idea {
  color: map-get($colors, bulb);
}

div.font_avatar.organization {
  color: map-get($colors, favorite);
}

div.font_avatar.action {
  color: map-get($colors, bulb);
}

div.font_avatar.event {
  color: map-get($colors, danger);
}

div.font_avatar.competence {
  color: map-get($colors, danger);
}

div.font_avatar.product {
  color: map-get($colors, dark);
}

div.font_avatar.project {
  color: map-get($colors, dark);
}

div.font_avatar.creativework {
  color: map-get($colors, secondary);
}

div.font_avatar.schema {
  color: map-get($colors, secondary);
}

div.font_avatar.person {
  color: map-get($colors, primary);
}

ion-header .toolbar_header .toolbar-title {
  white-space: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ion-header .toolbar_header #title_button {
  white-space: normal;
}

ion-header .toolbar_header .toolbar-title ion-img {
  overflow: visible;
}

ion-header .toolbar_header .toolbar-title img {
  min-width: inherit;
  max-width: inherit;
  max-height: 50px;
  margin: 10px;
}

ion-header .toolbar_header .close_toolbar.bar-button {
  height: auto;
}

ion-header .toolbar_header ion-buttons {
  width: 40px;
}

ion-header .toolbar_header .close_toolbar .button-inner {
  min-width: 0;
  flex-direction: column;
  align-items: flex-start;
}

ion-header .toolbar_header #nodeDetails .button-inner {
  justify-content: flex-end;
}

ion-header .toolbar_header .button-inner > ion-icon {
  font-size: 2.6rem;
}
