#apiapp ion-img img {
  min-height: inherit;
}

#header_logo {
  max-width: 50px;
}

#header_search > span {
  font-size: 16px;
  padding-left: 30px;
}

.loading_spinner {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

ion-searchbar.searchbar-has-focus.searchbar-md .searchbar-ios-cancel {
  display: block;
}

ion-header .searchbar-input-container .searchbar-search-icon {
  background-image: none;
}

ion-header .searchbar-input-container input.searchbar-input {
  padding: 6px 15px;
}

.dowrap {
  white-space: pre-line;
}

div.font_avatar {
  font-family: 'Ionicons';
  font-size: 48px;
}

div.font_avatar.concept {
  color: map-get($colors, dark);
}

div.font_avatar.idea {
  color: map-get($colors, bulb);
}

div.font_avatar.organization {
  color: map-get($colors, favorite);
}

div.font_avatar.action {
  color: map-get($colors, bulb);
}

div.font_avatar.event {
  color: map-get($colors, danger);
}

div.font_avatar.competence {
  color: map-get($colors, danger);
}

div.font_avatar.product {
  color: map-get($colors, dark);
}

div.font_avatar.project {
  color: map-get($colors, dark);
}

div.font_avatar.creativework {
  color: map-get($colors, secondary);
}

div.font_avatar.schema {
  color: map-get($colors, secondary);
}

div.font_avatar.person {
  color: map-get($colors, primary);
}
