.links line {
  stroke: #ccc;
  stroke-width: 2px;
}

graph tspan.icon {
  font-family: 'Ionicons';
}

//graph image.img-node {
//  clip-path: circle(16px at 16px 16px);
//}
//
//graph image.img-node.root {
//  clip-path: circle(24px at 24px 24px);
//}

graph use.icon,
graph text.label {
  stroke: #ffffff;
  fill: #ffffff;
  stroke-width: 0.4;
}

graph use.icon.concept {
  stroke: map_get($colors, link);
  fill: map_get($colors, link);
}

graph text.concept.label,
graph text.competence.label,
graph text.action.label,
graph text.idea.label,
graph use.icon.competence,
graph use.icon.action,
graph use.icon.idea {
  stroke: map_get($colors, text_alt);
  fill: map_get($colors, text_alt);
}
