// SVG
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

graph {
  height: 100%;
}

graph text.icon {
  font-family: 'Ionicons';
  font-size: 28px;
}

graph text.icon.icon-bg {
  font-size: 80px;
}

graph text.icon.root {
  font-size: 40px;
}

graph text.icon.icon-bg.root {
  font-size: 150px;
}

graph rect.icon.concept {
  fill: map-get($colors, dark);
}

graph rect.icon.idea {
  fill: map-get($colors, bulb);
}

graph rect.icon.organization {
  fill: map-get($colors, favorite);
}

graph rect.icon.action {
  fill: map-get($colors, bulb);
}

graph rect.icon.event {
  fill: map-get($colors, danger);
}

graph rect.icon.competence {
  fill: map-get($colors, danger);
}

graph rect.icon.product {
  fill: map-get($colors, dark);
}

graph rect.icon.project {
  fill: map-get($colors, dark);
}

graph rect.icon.creativework {
  fill: map-get($colors, secondary);
}

graph rect.icon.schema {
  fill: map-get($colors, secondary);
}

graph rect.icon.person {
  fill: #86c7e8;
}

graph image.img-node {
  clip-path: circle(16px at 16px 16px);
  width: 32px;
  height: 32px;
}

graph image.img-node.root {
  clip-path: circle(28px at 30px 28px);
  width: 58px;
  height: 58px;
  fill: black;
  stroke: black;
  stroke-width: 2px;
}

graph > * {
  height: 100%;
  background-image: url('../assets/img/bg_graph.png');
  background-size: 100% 100%;
}
