<ion-header>
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only color="link" (click)="closeSearch()" large>
        <ion-icon name="hexa-left" color="link"></ion-icon>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <div id="search_counter">{{(searchQuery && searchQuery.length >= 3) ? (searchService.searching ? '...'  : searchService.nodes.length) : explorerService.networkData.count}}</div>
      <ion-searchbar #search (ionInput)="searchNodes($event)" (ionFocus)="loadResults()" [(ngModel)]="searchQuery"
                     placeholder="Rechercher" debounce="800"></ion-searchbar>
    </ion-toolbar>
    <ion-buttons right text-center>
      <button ion-button icon-only color="link" (click)="createSeed()" id="create_seed">
        <ion-icon name="hexa-add" color="link"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="searchQuery && searchQuery.length > 3" id="search_filters" color="action" no-padding no-border>
    <ion-segment [(ngModel)]="searchScope" (ionChange)="scopeChanged($event)" no-border>
      <ion-segment-button value="all">
        <span ion-text [color]="searchScope == 'all' ? 'lighter' : 'link'">Tout</span>
      </ion-segment-button>
      <ion-segment-button value="private">
        <span ion-text [color]="searchScope == 'private' ? 'lighter' : 'link'">Privé</span>
      </ion-segment-button>
      <ion-segment-button value="apidae">
        <span ion-text [color]="searchScope == 'apidae' ? 'lighter' : 'link'">Réseau</span>
      </ion-segment-button>
      <ion-segment-button value="public">
        <span ion-text [color]="searchScope == 'public' ? 'lighter' : 'link'">Public</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="loading_spinner" *ngIf="searchService.searching" text-center>
    <ion-spinner name="dots"></ion-spinner>
    <p ion-text color="light">Recherche en cours</p>
  </div>
  <div class="loading_spinner" *ngIf="seedsService.idxBuilding" text-center>
    <ion-spinner name="dots"></ion-spinner>
    <p ion-text color="light">Indexation en cours, veuillez patienter quelques instants</p>
  </div>
  <ion-list *ngIf="!searchQuery || searchQuery.length < 3">
    <ion-list-header icon-left color="action" text-center no-margin>
      <ion-icon name="pulse"></ion-icon>
      Activité du réseau
    </ion-list-header>
    <button ion-item *ngFor="let node of lastChanges" text-wrap (click)="navigateTo(node.id)">
      <ion-icon *ngIf="node.scope == 'private'" name="lock" class="item_lock"></ion-icon>
      <ion-avatar item-left class="bg_seed {{node.category}}">
        <img *ngIf="node.picture()" src="{{node.pictureData()}}"/>
        <div *ngIf="!node.picture()" text-center><i class="ion-md-custom-{{node.category}}"></i></div>
      </ion-avatar>
      <h2>{{node.label}}</h2>
      <p *ngIf="node.author" text-nowrap>{{updateInfo(node)}}</p>
    </button>
  </ion-list>
  <ion-list *ngIf="searchService.nodes.length > 0" id="search_results">
    <button ion-item *ngFor="let node of searchService.nodes" text-wrap (click)="navigateTo(node.id)">
      <ion-icon *ngIf="node.scope == 'private'" name="lock" class="item_lock"></ion-icon>
      <ion-avatar item-left class="bg_seed {{node.category}}">
        <img *ngIf="node.picture()" src="{{node.pictureData()}}"/>
        <div *ngIf="!node.picture()" text-center><i class="ion-md-custom-{{node.category}}"></i></div>
      </ion-avatar>
      <h2>{{node.label}}</h2>
      <p text-nowrap>{{node.description}}</p>
    </button>
  </ion-list>
</ion-content>
