<ion-header>
  <ion-navbar danger>
    <ion-buttons left>
      <button (click)="homeNode()">
        <ion-img id="header_logo" src="img/logo_white.png" srcset="img/logo_white.png 2x"></ion-img>
      </button>
    </ion-buttons>
    <ion-title text-center>
      ApiApp
    </ion-title>
    <ion-buttons right>
      <button id="header_search" (click)="modalSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="graph_wrapper">
  <div id="loading_spinner" *ngIf="!explorerService.networkData" text-center><ion-spinner name="dots"></ion-spinner><span light>Chargement en cours</span></div>
  <network-svg *ngIf="explorerService.networkData" [networkData]="explorerService.networkData" [networkContext]="explorerService.networkContext" (rootChange)="rootNodeChange($event);"></network-svg>
</ion-content>
