<ion-header>
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navigateTo(null, true, false)">
        <img id="header_logo" src="assets/img/logo-apiapp-mini.svg"/>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <div id="total_counter">{{explorerService.networkData ? explorerService.networkData.count : 0}}</div>
      <button id="top_search" ion-button color="lighter" block icon-left text-left (click)="displaySearch()">
        <ion-icon name="search" color="link"></ion-icon>Rechercher ou créer
      </button>
    </ion-toolbar>
    <ion-buttons right *ngIf="dataService.userSeed">
      <button ion-button (click)="navigateTo(dataService.userSeed.id, true, false)">
        <img id="avatar_logo" *ngIf="dataService.userSeed.picture()" src="{{dataService.userSeed.pictureData()}}"/>
        <i id="avatar_icon" *ngIf="!dataService.userSeed.picture()" class="ion-md-custom-person"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
</ion-content>
