<ion-header>
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only color="link" (click)="dismiss()" large>
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Modifier le visuel</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="link" (click)="submitFile()" large>
        <ion-icon name="checkmark-circle-outline" large></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="edit_avatar" padding>
  <div *ngIf="avatar.src || avatar.file" text-center>
    <h5>Prévisualisation de l'image :</h5>
    <img id="avatar_preview" [src]="sanitizeUrl(avatar.src)"/>
  </div>
  <p *ngIf="!isWeb" text-center>
    Sélectionnez une image existante ou prenez une nouvelle photo ci-dessous.
  </p>
  <p *ngIf="isWeb" text-center>
    Sélectionnez une image ci-dessous.
  </p>
  <div *ngIf="isWeb">
    <ion-item no-lines class="label_only">
      <ion-label stacked>Prendre une photo</ion-label>
    </ion-item>
    <div class="item item-block item-md">
      <input type="file" accept="image/*" capture (change)="updateSrc($event)">
    </div>
    <ion-item no-lines class="label_only">
      <ion-label stacked>Sélectionner une image</ion-label>
    </ion-item>
    <div class="item item-block item-md">
      <input type="file" accept="image/*" (change)="updateSrc($event)">
    </div>
  </div>
  <div *ngIf="!isWeb">
    <br/>
    <button ion-button block large icon-left color="link" (click)="selectImage()">
      <ion-icon name="image"></ion-icon>
      Choisir une image
    </button>
    <button ion-button block large icon-left color="product" (click)="captureImage()" margin-top>
      <ion-icon name="camera"></ion-icon>
      Prendre une photo
    </button>
  </div>
</ion-content>
