#seed_form .button-inner,
#edit_avatar .button-inner {
  text-transform: none;
}

#seed_form .button-inner i:before {
  font-size: 3rem;
}

#seed_form .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
#seed_form .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: map_get($colors, light);
  box-shadow: none;
}

#seed_form .item-md.item-input.input-has-focus .item-inner,
#seed_form .list-md .item-input.input-has-focus:last-child {
  border-bottom-color: map_get($colors, link);
  box-shadow: none;
}

#seed_form .input-has-focus .label-md[stacked] {
  color: map_get($colors, link);
}

#seed_form .item-md ion-avatar {
  margin-top: 0;
  margin-bottom: 0;
}

#seed_form .item.label_only {
  min-height: 0;
}

#seed_form .item.label_only ion-label {
  color: $label-md-text-color;
}

#seed_types div.bg_seed > p {
  color: #ffffff;
  font-size: 2vh;
}

#seed_types div.bg_seed > p > i:before {
  font-size: 4rem;
}

#seed_form button.bg_concept,
#seed_form button.bg_competence,
#seed_form button.bg_action,
#seed_form button.bg_idea,
#seed_types div.bg_seed.concept > p,
#seed_types div.bg_seed.competence > p,
#seed_types div.bg_seed.action > p,
#seed_types div.bg_seed.idea > p {
  color: map_get($colors, text_alt);
}

input.cordova-camera-select {
  display: none;
}

#avatar_preview {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
}
