#share_form .item-inner,
#share_form .item-input {
  border-bottom-color: map_get($colors, light);
  box-shadow: none;
}

#share_form .button[icon-only] {
  max-width: 2.4em;
  margin-top: 5px;
  margin-bottom: 5px;
}

#iframe_code {
  font-family: Courier;
}
