<ion-header>
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navigateTo(null, true, false)">
        <img id="header_logo" src="assets/img/logo-apiapp-mini.svg"/>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <div id="total_counter">{{explorerService.networkData ? explorerService.networkData.count : 0}}</div>
      <button id="top_search" ion-button color="lighter" block icon-left text-left (click)="displaySearch()">
        <ion-icon name="search" color="link"></ion-icon>Rechercher ou créer
      </button>
    </ion-toolbar>
    <ion-buttons right *ngIf="authService.userSeed">
      <button ion-button (click)="navigateTo(authService.userSeed.id, true, false)">
        <img id="avatar_logo" *ngIf="authService.userSeed.picture()" src="{{authService.userSeed.pictureData()}}"/>
        <i id="avatar_icon" *ngIf="!authService.userSeed.picture()" class="ion-md-custom-person"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar id="explorer_toolbar" color="action">
    <ion-buttons right>
      <button ion-button (click)="closeDetails()" icon-only clear>
        <ion-icon name="hexa-close" color="link"></ion-icon>
      </button>
    </ion-buttons>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-2></ion-col>
        <ion-col col-4 text-center>
          <button ion-button (click)="editSeed()" icon-only clear>
            <ion-icon name="create" color="link" large></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4 text-center>
          <button ion-button (click)="shareSeed()" icon-only clear>
            <ion-icon name="share" color="link"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-list *ngIf="explorerService.rootNode" id="list_details" no-lines>
    <ion-item id="title_details" text-center text-wrap>
      <ion-icon *ngIf="explorerService.rootNode.scope == 'private'" name="lock" class="item_lock"></ion-icon>
      <ion-avatar class="bg_seed {{explorerService.rootNode.category}}">
        <img *ngIf="explorerService.rootNode.picture()" src="{{explorerService.rootNode.pictureData()}}"/>
        <div *ngIf="!explorerService.rootNode.picture()" text-center><i class="ion-md-custom-{{explorerService.rootNode.category}}"></i></div>
      </ion-avatar>
      <h2 text-left>{{explorerService.rootNode.label}}</h2>
    </ion-item>
    <ion-item text-wrap>
      <p class="pre">{{explorerService.rootNode.description}}</p>
    </ion-item>
    <ion-item right *ngIf="authService.userSeed && explorerService.rootNode.id == authService.userSeed.id">
      <button ion-button full large icon-left (click)="logOut()" color="person">
        <ion-icon name="exit"></ion-icon>
        <p class="label_sm">Déconnexion</p>
      </button>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.address" class="selectable">
      <button ion-button full large icon-left (click)="openAddress(explorerService.rootNode.address)" color="event">
        <ion-icon name="ios-pin"></ion-icon>
        <p class="label_sm">{{explorerService.rootNode.address}}</p>
      </button>
    </ion-item>
    <ion-item *ngFor="let url of explorerService.rootNode.formattedUrls()" class="selectable" text-wrap>
      <button ion-button full large icon-left (click)="openUrl(url.link)" color="product">
        <ion-icon [name]="url.icon"></ion-icon>
        <p class="label_sm">{{url.label}}</p>
      </button>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.startDate" class="selectable date_item">
      <div class="button-md button-large-md button-md-lighter selectable" large>
        <span class="button_label">Début</span>
      </div>
      <span item-right class="button-md button-large-md button-md-event selectable button_eol">
        {{dateFormat(explorerService.rootNode.startDate)}}
      </span>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.endDate" class="selectable date_item">
      <div class="button-md button-large-md button-md-lighter selectable" large>
        <span class="button_label">Fin</span>
      </div>
      <span item-right class="button-md button-large-md button-md-event selectable button_eol">
        {{dateFormat(explorerService.rootNode.endDate)}}
      </span>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.creationDate" class="selectable">
      <ion-label class="label_sm">Date de création</ion-label>
      <ion-datetime [(ngModel)]="explorerService.rootNode.creationDate" displayFormat="DD/MM/YYYY" disabled="true"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.updateDate" class="selectable">
      <ion-label class="label_sm">Dernière mise à jour</ion-label>
      <ion-datetime [(ngModel)]="explorerService.rootNode.updateDate" displayFormat="DD/MM/YYYY" disabled="true"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="authorId" class="selectable item-datetime-disabled details_author">
      <ion-label no-margin class="label_sm">Par </ion-label>
      <button ion-button item-right clear color="link" (click)="navigateTo(authorId, true, false)">{{authorName}}</button>
    </ion-item>
  </ion-list>
</ion-content>
