<ion-header>
  <ion-navbar color="lighter" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navigateTo(null, true, false)">
        <img id="header_logo" src="assets/img/logo-apiapp-mini.svg"/>
      </button>
    </ion-buttons>
    <ion-toolbar no-border>
      <div id="total_counter">{{explorerService.networkData ? explorerService.networkData.count : 0}}</div>
      <button id="top_search" ion-button color="lighter" block icon-left text-left (click)="displaySearch()">
        <ion-icon name="search" color="link"></ion-icon>Rechercher
      </button>
    </ion-toolbar>
    <ion-buttons right *ngIf="dataService.userSeed">
      <button ion-button (click)="navigateTo(dataService.userSeed.id, true, false)">
        <img id="avatar_logo" *ngIf="dataService.userSeed.picture" src="{{dataService.userSeed.picture}}"/>
        <i id="avatar_icon" *ngIf="!dataService.userSeed.picture" class="ion-md-custom-person"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="toolbar_header" *ngIf="explorerService.rootNode" color="lighter">
    <ion-buttons left text-center>
      <button color="lighter" *ngIf="explorerService.previousNode()" ion-button text-center
              (click)="navigateTo(explorerService.previousNode(), false, false)" [class]="'close_toolbar bg_seed ' + explorerService.previousNodeEntity().category">
        <ion-icon *ngIf="explorerService.previousNodeEntity().scope == 'private'" name="lock" class="item_lock"></ion-icon>
        <div class="prev_label">{{explorerService.previousNodeEntity().shortLabel()}}</div>
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <div class="inline">
        <div class="header_title">
          <span class="button-inner">
          <ion-icon *ngIf="explorerService.rootNode.scope == 'private'" name="lock" class="item_lock"></ion-icon>
          <ion-avatar item-left class="bg_seed {{explorerService.rootNode.category}}">
            <img *ngIf="explorerService.rootNode.picture" src="{{explorerService.rootNode.picture}}"/>
            <div *ngIf="!explorerService.rootNode.picture" text-center><i class="ion-md-custom-{{explorerService.rootNode.category}}"></i></div>
          </ion-avatar>
          <div>
            <p text-left>{{explorerService.rootNode.label}}</p>
            <p text-left class="pre">{{explorerService.rootNode.description}}</p>
          </div>
          </span>
        </div>
      </div>
    </ion-title>
    <ion-buttons right text-center>
      <button ion-button color="link" (click)="editSeed()" id="edit_seed">
        <ion-icon name="create" large></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="explorerService.rootNode" id="list_details" no-lines>
    <ion-item right *ngIf="dataService.userSeed && explorerService.rootNode.id == dataService.userSeed.id">
      <button ion-button full large icon-left (click)="logOut()" color="person">
        <ion-icon name="exit"></ion-icon>
        Déconnexion
      </button>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.address" class="selectable">
      <button ion-button full large icon-left (click)="openAddress(explorerService.rootNode.address)" color="event">
        <ion-icon name="ios-pin"></ion-icon>
        <p class="label_sm">{{explorerService.rootNode.address}}</p>
      </button>
    </ion-item>
    <ion-item *ngFor="let url of seedUrls()" class="selectable" text-wrap>
      <button ion-button full large icon-left (click)="openUrl(url.link)" color="product">
        <ion-icon [name]="url.icon"></ion-icon>
        <p class="label_sm">{{url.label}}</p>
      </button>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.startDate" class="selectable date_item">
      <div class="button-md button-large-md button-md-lighter selectable" large>
        <span class="button_label">Début</span>
      </div>
      <span item-right class="button-md button-large-md button-md-event selectable button_eol">
        {{dateFormat(explorerService.rootNode.startDate)}}
      </span>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.endDate" class="selectable date_item">
      <div class="button-md button-large-md button-md-lighter selectable" large>
        <span class="button_label">Fin</span>
      </div>
      <span item-right class="button-md button-large-md button-md-event selectable button_eol">
        {{dateFormat(explorerService.rootNode.endDate)}}
      </span>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.creationDate" class="selectable">
      <ion-label>Date de création</ion-label>
      <ion-datetime [(ngModel)]="explorerService.rootNode.creationDate" displayFormat="DD/MM/YYYY" disabled="true"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.updateDate" class="selectable">
      <ion-label>Dernière mise à jour</ion-label>
      <ion-datetime [(ngModel)]="explorerService.rootNode.updateDate" displayFormat="DD/MM/YYYY" disabled="true"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="explorerService.rootNode.author" class="selectable item-datetime-disabled details_author">
      <ion-label no-margin>Par </ion-label>
      <button ion-button item-right large clear color="link" (click)="navigateTo(explorerService.rootNode.authorId, false, false)">{{explorerService.rootNode.author}}</button>
    </ion-item>
  </ion-list>
</ion-content>
