#list_details ion-item.item-block {
  min-height: 4rem;
}

#list_details .button-inner {
  text-transform: none;
  justify-content: flex-start;
}

#list_details .button-large-md {
  font-size: 1.7rem;
  line-height: 2.8em;
}

#list_details .label-md,
#list_details .button_eol {
  margin: 13px 8px 0 0;
}

#list_details .label-md.details_author {
  color: #666;
  margin: 0;
}

#list_details .datetime-md {
  padding-bottom: 0;
  font-size: 1.2rem;
}

#list_details a[item-left] {
  margin: 0 1em 0 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  vertical-align: top;
}

#list_details .button_label {
  font-weight: normal;
  text-transform: none;
  color: map-get($colors, text_alt);
}

#list_details p.button_label {
  display: inline-block;
  white-space: pre-line;
  max-width: 70%;
  vertical-align: middle;
  font-size: 1.2rem;
}

#list_details ion-item.date_item span {
  padding: 0 1em;
}

#list_details button p.label_sm {
  font-weight: normal;
  font-size: 1.2rem;
  color: map-get($colors, lighter);
}
