<ion-header>
  <ion-navbar color="danger">
    <ion-title text-center>{{node.fullName()}}</ion-title>
    <ion-buttons right>
      <button ion-button id="header_close" (click)="closeModal()">Fermer</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <ion-img *ngIf="node.picture" [src]="node.picture"></ion-img>
        <div *ngIf="!node.picture" class="font_avatar {{node.category}}" text-center>{{node.code}}</div>
      </ion-thumbnail>
      <h2 class="dowrap">{{node.fullName()}}</h2>
      <p *ngIf="node.role" class="dowrap">{{node.role}}</p>
    </ion-item>

    <ion-item *ngIf="node.telephone">
      {{node.telephone}}
      <a ion-button large item-right icon-only outline color="primary" href="tel:{{node.telephone}}"><ion-icon name="call"></ion-icon></a>
    </ion-item>
    <ion-item *ngIf="node.mobilePhone">
      {{node.mobilePhone}}
      <a ion-button large item-right icon-only outline color="primary" href="tel:{{node.mobilePhone}}"><ion-icon name="phone-portrait"></ion-icon></a>
      <a ion-button large item-right icon-only outline color="secondary" href="sms:{{node.mobilePhone}}"><ion-icon name="text"></ion-icon></a>
    </ion-item>
    <ion-item *ngIf="node.email">
      {{node.email}}
      <a ion-button large item-right icon-only outline color="danger" href="mailto:{{node.email}}"><ion-icon name="mail"></ion-icon></a>
    </ion-item>
    <ion-item *ngIf="node.description">
      <p class="dowrap">{{node.description}}</p>
    </ion-item>
  </ion-list>

</ion-content>
